header {
  h2,
  h4 {
    color: white;
  }

  button {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    background-color: #dd003f;
    font-size: 14px;
    color: #ffffff;
    padding: 11px 25px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
} 