.green-text {
  color: #dcf836;
}

.recomended {
  color: white;
  margin-bottom: 50px;

  .description-wrapper {
    width: 70%;
    margin-top: 50px;
    @media only screen and (max-device-width: 780px) {
      width: 100%;
      text-align: center;

      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  h2 {
    margin-top: 0;
  }

  .description {
    display: flex;
    @media only screen and (max-device-width: 780px) {
      display: block;
    }
  }

  .text {
    margin-left: 20px;

    @media only screen and (max-device-width: 780px) {
      text-align: left;
    }

    h4 {
      margin-top: 0;
    }
  }
}

.slick-slide {
  position: relative;
  box-sizing: border-box;
  padding-right: 15px;
  color: #ffffff;

  h6 {
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
    clear: both;
    line-height: 1;
  }

  .title-in {
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    width: calc(100% - 45px);
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .cate {
    margin-bottom: 15px;
  }

  .cate span {
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .main-title {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  .cate span .title {
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
  }

  .cate .green {
    background-color: #dcf836;
  }

  .movie-items .movie-item .title-in p {
    font-size: 12px;
    color: #ffffff;
  }

  .movie-items .movie-item .title-in p i {
    color: #f5b50a;
    font-size: 22px;
  }

  .movie-items .movie-item .title-in p span {
    font-weight: 400;
    font-size: 18px;
  }

  .title-in p span {
    font-weight: 400;
    font-size: 18px;
    color: #dcf836;
  }

  img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.slick-dots {
  display: flex !important;
  flex-direction: row-reverse;

  @media only screen and (max-device-width: 780px) {
    display: block !important;
    position: relative !important;
  }

  li button:before {
    font-size: 10px;
    color: white;
    opacity: 1;
  }

  li.slick-active button:before {
    opacity: 1;
    color: #dcf836;
  }
}